.p-daily-report-form {
}

.p-daily-report-form__date-form {
  width: 20%;
}

.p-daily-report-form__title-form {
  margin-left: calc(3% - 0.5em); /* コード中に空白が表示されている関係で1文字分幅削っている */
  width: 77%;
}

.p-daily-report-form__content-form {
  width: 100%;
  resize: vertical;
  box-sizing: border-box;
  border: 0.1em solid #ddd;
  border-radius: 0.3em;
  padding: 0.5em 0.5em;
  height: 10em;
  outline: none;
}
