.p-daily-report-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 0.1em solid #ddd;
  border-bottom: 0.1em solid #ddd;
}

.p-daily-report-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1.5em;
}

.p-daily-report-list__item:nth-last-of-type(n + 2) {
  border-bottom: 0.1em solid #ddd;
}

/* TODO: Fondation層に */
h3 {
  margin: 0;
}

.u-mt-05 {
  margin-top: 0.5em;
}
