.p-header {
  padding: 6px 0;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.p-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  margin: 0 auto;
}

.p-page-title {
  margin: 0;
  font-size: 24px;
}

.p-auth-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.p-auth-links__item {
  display: inline-block;
}

.p-auth-links__item:nth-of-type(n + 2) {
  margin-left: 10px;
}
